/* Reiniciar márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Página */
body {
    font-family: Arial, sans-serif;
    background-color: #ffeef5;
    color: black;
    padding: 20px;
}
input{
  MARGIN: 30px;
  bording: 1px solid gray;
  padding: 10px;
  WIDTH: 300px;
}

/* Encabezado */
.site-header {
    text-align: center;
    margin-bottom: 30px;
}

.site-header h1 {
    color: hotpink;
}

.lead {
    color: gray;
}



/* Tarjeta */
.recipe-card {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
}

/* Imagen */
.thumb {
    height: 180px;
    object-fit: cover;
}

/* Contenido */
.card-body {
    padding: 0px;
}

.card-body h2 {
    color: hotpink;
    margin-bottom: 10px;
}

.card-body p {
    margin-bottom: 15px;
}

/* Botón */
.btn {
    display: inline-block;
    background-color: hotpink;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: deeppink;
}

/* Pie de página */
.site-footer {
    text-align: center;
    margin-top: 30px;
}

/* Responsive */
@media (max-width: 768px) {
    .recipe-list {
        grid-template-columns: 1fr;
    }
}